button{
  background-color: #008CBA;
  font-family:'lato';
  text-transform: capitalize;
}

p{
  font-size:xx-large;
  text-align-last:center;
  font-family:'lato';
}

.checkbox {
  border-radius: 10px ;
  align-content: center;
  border:0.3px solid rgb(131, 131, 131);
  padding-left: 6pt;
  padding-top: 3px;
  margin: 3pt;
  background-color: rgb(226, 225, 225);
}

.checkbox label { text-align: right; font-size: 10pt; font-weight: bold; color: black}
.checkbox span {  text-align: right; font-size: 9pt; color: rgba(58, 57, 59, 0.993); padding-left: 27pt}
.checkbox summary {text-align: right; font-size: 8pt;}
.checkbox clearboth { clear: both }


.container-scroll {
  border-radius: 10px ;
  border:0.3px rgb(131, 131, 131);
  background-color:white;
  max-height: 110pt;
  overflow-y: scroll;
  margin-bottom: 10px;
}

input[type="text"]:read-only {
    cursor: normal;
    color: #999;
}
