.menu-left{
    display: flex!important;
    flex-basis: auto;
    justify-content: flex-end!important;
}
li{
    color:white;
    font-weight: bold;
}

nav{
    background-color:black;
}

a{
    color:grey;
}