<header>
    <nav class="navbar">
       <ul>
        <li><a routerLink="/home"><img src="assets/images/logo/download.png"></a></li>
        <li class="li-banner-font">|</li>
        <li class="li-banner-font">MACTS 2.0</li>
        <!-- <li *ngIf="userService.isUserLoggedIn()" class="li-font"><a routerLink="/search">Search</a></li>
        <li *ngIf="userService.isUserLoggedIn() && userService.role=='ROLE_ADMIN'" class="li-font"><a routerLink="/admin">Admin</a></li> -->
      </ul>
      <ul class="menu-right" *ngIf="userService.isUserLoggedIn()">
        <li><img class="img-icon" src="../../assets/icons/icon-clock.svg"></li>
        <li class="li-font">{{now | date:'HH:mm:ss'}}</li>
        <li><img class="img-icon" src="../../assets/icons/icon-location.svg"></li>
        <li class="li-font">{{city}}</li>
        <li><img class="img-icon" src="../../assets/icons/icon-user.svg"></li>
        <li class="li-font">{{userService.username}}</li>
        <!-- <li><img class="img-icon" src="../../assets/icons/icon-chevron.svg"></li> -->
        <!-- <li class="li-font"><a (click)="userService.logout()" class="nav-link">Logout</a></li> -->
        <li><img class="img-icon" [matMenuTriggerFor]="mainmenu" src="../../assets/icons/icon-menu.svg"></li>

        <li>

          <!-- <button mat-button [matMenuTriggerFor]="mainmenu"><i class="material-icons prefix"></i></button> -->
         
          <mat-menu #mainmenu="matMenu" xPosition="before">
            <button mat-menu-item routerLink="/search">Search</button>
            <button mat-menu-item routerLink="/admin">Admin</button>
            <button mat-menu-item [matMenuTriggerFor]="conflict_checking">Conflict Checking</button>
            <button mat-menu-item [matMenuTriggerFor]="crossing">Crossing</button>
            <button mat-menu-item routerLink="/logout">Logout</button>
          </mat-menu>
          
          <mat-menu #conflict_checking="matMenu" xPosition="before">
            <button mat-menu-item routerLink="/preconfcheck">Preliminary Conflic Check</button>
            <button mat-menu-item>Conflict Check Request</button>
          </mat-menu>
          
          <mat-menu #crossing="matMenu" xPosition="before">
            <button mat-menu-item>Crossing Request</button>
            <button mat-menu-item>Crossing Request 2</button>
            <button mat-menu-item>Crossing Request 3</button>
          </mat-menu>

        </li>
      </ul>
    </nav>

    
  </header>
