<div class="row" *ngIf="userClaims">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-content">
          <span>Username :{{userClaims.username}}</span>
          <br>
          <span>Email : {{userClaims.email}}</span>
          <br>
          <span>Full Name : {{userClaims.firstname}} {{userClaims.lastname}}</span>
          <br>
          <span>Authorities :     
            <li *ngFor="let authoritie of userClaims.authorities">
              {{ authoritie.authority }}
            </li>
          </span>
        </div>
      </div>
    </div>
  </div>